.arrow {
  position: absolute;
  left: 7.38%;
  right: 86.26%;
  top: 26.41%;
  bottom: 70.66%;
  height: 30px;
  color: #545454;
}

.form {
  position: absolute;
  width: 345px;
  height: 529px;
  left: 24px;
  top: 285px;
  background: #d9d9d9;
  border-radius: 30px;
}

.date {
  position: absolute;
  width: 128px;
  height: 24px;
  left: 28px;
  top: 20px;
  border: none;
  background: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.date[type='date'] {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.title {
  position: absolute;
  background: none;
  border: none;
  width: 80%;
  height: 24px;
  left: 20px;
  padding-left: 10px;
  top: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #545454;
}

.content {
  position: absolute;
  width: 322px;
  height: 333px;
  left: 12px;
  top: 118px;
  background: #5f5f5f;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  color: #ffffff;
  resize: none;
}

.content::placeholder {
  color: #bababa;
}

.save {
  position: absolute;
  width: 176px;
  height: 51px;
  left: 84.5px;
  top: 464px;
  background: #464646;
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
